@import url(http://fonts.googleapis.com/css?family=Abel);
@import url(http://fonts.googleapis.com/css?family=Lato);

/* GLOBALS */
body {background-color: white;}

/* INTRO PAGE */
.toolbar_info, .list-container {color: black;}

/* NOTEBOOK */
div#maintoolbar {display: none !important;}

div#notebook {border-top: none;}
div#notebook-container {box-shadow: none; -webkit-box-shadow: none; padding: 20px; border-radius: 5px;}

.notebook_app div#header {box-shadow: none; -webkit-box-shadow: none;}
.notebook_app {background-color: rgb(234, 234, 242);}

div.input_prompt {color: rgb(168, 168, 176);}
div.output_prompt {color: #4f5b66;}
div.input_area {
  border-radius: 4px;
  border: none;
  background-color: rgb(234, 234, 242);
  padding: 2px;
}
div.output_area pre {font-weight: normal; color: #4f5b66;}
div.output_subarea {font-weight: normal; color: #4f5b66;}

div.cell.selected {border-radius: 4px; border-color: white; border-left: 7px solid rgb(232,232,242); background: none; margin-left: -6px;}
div.cell {margin-bottom: 5px;}

.edit_mode div.cell.selected {border-radius: 4px; border-color: white; border-left: 7px solid rgb(212,212,222); margin-left: -6px;}

div#menus {background: none; border: none;}


a {
  font-family: 'Abel';
  text-decoration: none !important;
  transition: all .25s; 
  -moz-transition: all .25s; 
  -webkit-transition: all .25s;
}

.call-link {
  border-bottom: 2px dotted rgb(80,80,80);
  color: rgb(251,170,50);
}

.call-link:hover {
  color: rgb(201,113,51);
}

/* WELCOME PAGES */
.button-link {
  color: white;
}

.button {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 20px;
  background-color: rgb(69, 133, 255);
  border: 3px solid rgb(69, 133, 255);
  border-radius: 6px;
  font-size: 28px;
  line-height: 26px;
  font-style: italic;
}

.button:hover {
  color: rgb(69, 133, 255);
  border: 3px dotted rgb(69, 133, 255);
  background-color: white
}

.info {
  font-size: 24px; 
  font-family: 'Abel'; 
  line-height: 30px;
  max-width: 750px;
}

.header-1 {
  font-family: Abel; 
  font-size:48px; 
  font-weight:100;
  margin-bottom: 48px;
}

.header-2 {
  font-family:Abel; 
  font-size:36px; 
  font-weight:800;
  margin-bottom: 36px;
}